{
  "jenkins_configured": "{{ jenkins_configured }}",
  "jenkins_user": "{{ jenkins_user }}",
  "jenkins_home": "{{ jenkins_home }}",
  "jenkins_version": "{{ jenkins_version_out.stdout }}",
  "jenkins_service": "{{ jenkins_status.stdout }}",
  "jenkins_init_password": "{{ init_password.stdout }}"
}